* {
    font-family: 'Space Mono', monospace;
    
}

header {
    color: #333;
    font-family: Inconsolata;
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0 200px 77px;
}

.container {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.banner {
    display: flex;
}

.banner img {
    margin: 0 auto;
    width: 70%;
}

.banner-content{
    display: flex;
    flex-direction: column;
    
    }

.banner-title {
    color: #333;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -2.24px;
    margin-bottom: 0px;
    width: 70%;
    
}

.banner-description {
    color: #4F4F4F;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.84px;
    width: 60%;
    margin-bottom: 50px;
}

.btn-back {
    background: #333;
    width: 216px;
    height: 68px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.49px;
    text-transform: uppercase;
}
footer{
    color: #BDBDBD;
text-align: center;
font-family: Montserrat;
font-size: 14px;
margin-top: 100px;
}

/* Mobile Design */
@media screen and (max-width:576px){
    header {
        font-size: 16px;
        padding: 0;
        margin: 0;
        margin-bottom: 100px;
    }
    
    .container{
        display: flex;
        flex-direction: column;
    }

    .banner img {
        margin: 0 auto;
        width: 90%;
    }
    .banner-content{
        margin-left: 10px;
    }
    .banner-title {
        font-size: 48px;
        letter-spacing: -1.68px;
        margin-bottom: 0px;
        width: 90%;

    }
    .banner-description{
        font-size: 18px;
        letter-spacing: -0.63px;
        width: 90%;
    }
    footer{
        font-size: 12px;
    }
}
